.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  background-image: url(https://media.wired.co.uk/photos/606dba1c9a15f73a597a2aa1/4:3/w_2044,h_1533,c_limit/weather.jpg);
  background-size: 432px;
}

img {
  width: 750px;
  height: 350px;
}

input {
  padding: 12px 20px;
  font-size: 1rem;
  border-width: calc(var(--border-width) * 1px);
  border-style: solid;
  border-color: var(--accent);
  border-radius: 20px;
}

button {
  border-radius: 12px;
  background-color: green;
  margin: 5px;
}

.input-city {
  margin: 15px;
}

.rows {
  display: flex;
  flex-direction: row;
}

p {
  margin: 40px 45px;
  font-family: cursive;
}

.temp {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  outline: none;
}